.text-center {
  text-align: center;
}

.container {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.won-match {
  background: rgb(226, 255, 226);
}

.lost-match {
  background: rgb(255, 227, 227);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.ant-message {
  bottom: 20px;
  top: initial;
}

.attribution {
  font-size: 10px;
}

.attribution a {
  color: black;
}

@media only screen and (max-width: 600px){
  .container {
    max-width: 100%;
    padding: 2px;
  }
}