.text-center {
  text-align: center;
}

.page-fullw-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.won-match {
  background: rgb(226, 255, 226);
}

.lost-match {
  background: rgb(255, 227, 227);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.custom-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: .5em 1em;
  cursor: pointer;
  margin-bottom: 10px;
}

.ant-message {
  bottom: 20px;
  top: initial;
}

@media screen and (max-width: 768px) {
  .custom-button {
    padding: .25em .5em;
  }
}

@media only screen and (max-width: 600px){
  .container {
    max-width: 100%;
    padding: 2px;
  }
}