header {
  padding: 0 5px;
  display: flex;
  justify-content: center;
}

.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 0 .05em;
}

.header--logo--icon {
  width: 50px;
  height: 50px;
}

.header--links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header--links li {
  display: inline-block;
  margin: 0 5px;
  padding: .5em 1em;
  background: black;
  border-radius: 10px;
}

.header--links li a {
  color: white;
  text-transform: uppercase;
  font-size: small;
}

.header--links li a:hover {
  color: hotpink;
}

.header--auth {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header--container {
    max-width: 768px;
  }

  .header--auth:first-child::after {
    content: " | ";
    
  }
}

@media screen and (max-width: 768px) {
  /* .header--container {
    height: 20vh;
    display: flex;
    flex-direction: column;
  } */

  .header--links li {
    display: inline-block;
    margin: 0 1px;
    border-radius: 5px;
    padding: .2em .4em;
  }

  .header--logo--icon {
    width: 25px;
    height: 25px;
  }
}