header {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 246, 246);
  background-image: linear-gradient(#eeeeee #FFFFFF);
}

.header--container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 1em .05em;
  max-width: 768px;
  min-height: 60px;
}

.disable-scrolling {
  overflow: hidden;
}

.header--hamburger {
  visibility: hidden;
}

@media screen and (max-width: 576px) {
  .header--container {
    position: relative;
    z-index: 10;
  }

  .header--hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: visible;
    font-size: 30px;
    justify-self: flex-end;
    z-index: 4;
    cursor: pointer;
    padding: .35em;
    background-color: white;
    border-radius: 25px;
    z-index: 3;
  }
}